


.head-info{
    display: flex;
}

h2,h1{
    color: white;
    margin-top: 0;
}

h1{
    margin-left: 20px;
}

.date-edit{
    display: flex;
}

.date-edit li{
    margin-right: 10px;
}

.tecnic_info{
    display: flex;
}

.reqeust_duo{
    display: flex;
    padding: 20px;
}

.logout_form{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit_request {
    width: 400px;
    max-width: 500px;
    margin-left: 20px;
    padding: 35px;
    border-radius: 25px;
    background-color: #121212;
    box-shadow: 0px 5px 39px -22px rgba(255, 255, 255, 0.2);
    border: #454545 1px solid;
}
.custom-select select {
    padding: 10px;
    border-radius: 10px;
    border: 1px #595959 solid;
    background-color: #242424;
    color: #bababa;
}
.request-list{
    display: table;
    max-height: 200px;
    width: 600px;
    max-width: 800px; /* Ширина формы */
    margin: 0;
    padding: 35px; /* Отступы вокруг содержимого формы */
    border-radius: 25px; /* Закругление углов формы */
    background-color: #121212; /* Цвет фона формы */
    box-shadow: 0px 5px 39px -22px rgba(255, 255, 255, 0.2);
    border: #454545 1px solid;
}

.order_list{
    margin-top: 20px;
    height: auto;
    width: 600px;
    max-width: 800px; /* Ширина формы */

    padding: 35px; /* Отступы вокруг содержимого формы */
    border-radius: 25px; /* Закругление углов формы */
    background-color: #121212; /* Цвет фона формы */
    box-shadow: 0px 5px 39px -22px rgba(255, 255, 255, 0.2);
    border: #454545 1px solid;
}
.one_request{
    display: flex;
}
.one_request_tech{
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    background-color: #242424;
    color: white;
    list-style: none;
    margin: 20px 0 0 0;
}

.one_request_status{
    border-radius: 10px;
    background-color: #242424;
    margin: 20px 0 0 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
}

.green-circle{
    color: #6abe6a;
    box-shadow: 0px 5px 16px 4px rgba(73, 204, 71, 0.2);
    border-radius: 30px;
}

.yellow-circle{
    color: #e1c460;
    box-shadow: 0px 5px 16px 4px rgba(231, 212, 71, 0.2);
    border-radius: 30px;
}

.input-group input[type="date"] {
    border: 1px #595959 solid;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #242424;
    color: #454545;
}

i{
    color: white;
}

.logout{
    background-color: #212121;
    border: none;
    font-size: 25px;
    cursor: pointer;

}
.input-group textarea  {
    background-color: #242424;
    padding: 10px;
    border-radius: 10px;
    border: 1px #595959 solid;
    width: 100%;
    box-sizing: border-box;
    color: #bababa;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    height: 100px;
    resize: none;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    color: #ffffff;
    font-size: 0.875rem;;
    margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"] {
    width: calc(100% - 30px); /* Ширина поля ввода (вычисляемая, минус отступы) */
    padding: 10px; /* Внутренние отступы текстовых полей */
    border-radius: 10px; /* Закругление углов текстовых полей */
    border: 1px #595959 solid;
    background-color: #242424;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.875rem;
    color: #bababa;
}
.edit_del_button{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}


.edit_button{
    border: 0;
    border-radius: 500px;
    background-color: coral;
    padding: 10px 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    transition: transform .2s;

    cursor: pointer;
}

.delete_button{
    border-radius: 20px;
    background-color: #212121;
    border: 1px #454545 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    font-size: 15px;
    cursor: pointer;
}

.bx-arrow-back{
    margin: 30px;
    font-size: 20px;
}

