.profile {
    width: 300px;
    max-width: 500px;
    padding: 35px;
    border-radius: 25px;
    background-color: #121212;
    box-shadow: 0px 5px 39px -22px rgba(255, 255, 255, 0.2);
    border: #454545 1px solid;
}
.profile-photo{
    height: 200px;
    max-height: 300px;
    max-width: 500px;
    padding: 15px;
    border-radius: 25px;
    background-color: #121212;
    border: #454545 1px solid;
    overflow: auto;
    scrollbar-width: thin;
}

.profile-photo h1{
    color: white;
}
.profile-photo::-webkit-scrollbar {
    width: 4px; /* Ширина вертикальной полосы прокрутки */
    border-radius: 10px;
    height: 50px;
}
.user_technic_info {
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    background-color: #242424;
    color: white;
    list-style: none;
    margin-bottom: 5px;
}

.profile-photo::-webkit-scrollbar-track {
   background-color: #242424; /* Цвет полосы прокрутки */
    border-radius: 10px;
}

.profile-photo::-webkit-scrollbar-thumb {
     background-color: #bababa; /* Цвет фона полосы прокрутки */
    border-radius: 10px; /* Скругление углов полосы прокрутки */
    height: 5px;
}

.profile h1{
    margin: 0 0 10px 0;
    font-size: 25px;
}

.profile-info{
    margin-bottom: 40px;
    color: white;
}