body {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(0deg, rgb(0, 0, 0) 19%, rgb(34, 34, 34));
}

/* Стили для формы */
form {
    width: 400px;
    max-width: 500px; /* Ширина формы */
    margin: 0 auto; /* Центрирование по горизонтали */
    padding: 35px; /* Отступы вокруг содержимого формы */
    border: #454545 1px solid;
    border-radius: 25px; /* Закругление углов формы */
    background-color: rgba(18, 18, 18, 0.45); /* Цвет фона формы */
    box-shadow: 0px 5px 39px -22px rgba(255, 255, 255, 0.2);
}

.logo-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 35px;
    transform: scale(1.5);
}

.logo-image img {

}

/* Стили для текстовых полей и меток */
.input-group {
    margin-bottom: 20px; /* Отступ между группами элементов */
}

.input-group label {
    display: block; /* Размещаем метку на отдельной строке */
    color: white;
    font-size: 0.875rem;;
    margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"] {
    width: calc(100% - 40px); /* Ширина поля ввода (вычисляемая, минус отступы) */
    padding: 10px; /* Внутренние отступы текстовых полей */

    border: 1px #595959 solid; /* Границы текстовых полей */
    border-radius: 10px; /* Закругление углов текстовых полей */
    background-color: rgb(36, 36, 36);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: white;
}

/* Стили для кнопки */
.button-center {
    text-align: center; /* Выравнивание кнопки по центру */
    margin-top: 40px;
}

button {
    border: 0;
    border-radius: 10px;
    background-image: linear-gradient(45deg, rgba(252, 176, 69, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    padding: 10px 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    transition: transform .2s;
    color: white;
    background-position: 90% 0;
    background-size: 200% 200%;
    box-shadow: 0 16px 32px 0 rgba(100, 100, 100, 0.35);
    transition: .5s;
    transition: all ease 0.3s;
}

button:hover {
    transform: scale(1.05);
}

.hr-line {
    margin: 32px 20px;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 1px solid rgb(41, 41, 41);
}

.login-prompt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-link:hover {
    color: coral;
}

.login-link {
    color: white;
}

.login-text {
    margin: 0;
    color: #bababa;
}

.pass-icon {
    position: absolute;
    right: 42%;
    top: 52.7%;
    cursor: pointer;
    color: coral;
}

.sharp-gradient, .sharp-gradient2 {
    position: absolute;

    z-index: -100;
}

.sharp-gradient2 {
    position: fixed;
    bottom: 0;
    left: 0;
}

.sharp-gradient {
    right: 0;
}







